<div class="page-header">
  <h1>Animals!</h1>
</div>

<ul>
  <% @animals.each do |animal| %>
    <li> <%= link_to animal.species, animal_path(animal) %> </li>
  <% end %>
</ul>

<p> <%= link_to "Add an Animal", new_animal_path %> </p>
