// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

body {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
}

.container-fluid {
  background-color: #611c1c;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
  color: #d8a0a0;
}

.navbar-default .navbar-brand:hover,  .navbar-default .navbar-nav li a:hover {
  color: #906a6a;
}

a {
  color: #af4747;
}

a:hover {
  color: #862d2d;
}

.btn {
  color: #f7d6d6;
  background-color: #8c5151;
}

.btn:hover {
  color: #c5a9a9;
  background-color: #633838;
}

.alert h3 {
  margin-top: .1em;
}
