<h1>Regions</h1>

<ul>
  <% @regions.each do |region| %>
    <li>
      <%= region.name %>
      <%= link_to "Edit", edit_region_path(region) %>
      <%= link_to "Delete", region_path(region),
                               :data => {:confirm => "You sure?",
                                         :method => "delete"} %>
    </li>
  <% end %>
</ul>

<p> <%= link_to "Add a Region", new_region_path %> </p>
